html,
body {
  padding: 0;
  margin: 0;
  @apply font-body;
  background-image: url("/beijing.png");
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  @apply font-body !important;
}

.mail-bg {
  background-image: url("/mail_bg.png");
  background-size: cover;
}
